@use "../base/variables";
@use "../base/layout";

.circle-button-background {
    width: 11.0rem;
    height: 11.0rem;
    border-radius: 50%;
    // background-color: variables.$color-black;
}

.scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10.0rem;
    color: variables.$color-white;
    cursor: pointer;
    @extend .circle-button-background;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: variables.$color-black;
}

.copyright-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: variables.$color-white;
}