@use "../base/variables";
@use "../base/layout";

.header {
    top: 0;
    margin: 0; padding: 0;
    width: 100vw;
    position: fixed;
    z-index: 1;
    @extend .flex-container__direction--row;
    @extend .justify-content--space-between;
    background-color: variables.$nav-area-background-color;
}

.menu-group {
    padding: 1.0rem;
}

.menu-item {
    font-size: 1.5rem;
    padding-left: 1.0rem;
    display: inline-block;
}

.header-title {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 1.0rem;
    margin: 0;
}