@use "../base/variables";
@use "../base/layout";

#skills .card {
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    color: variables.$color-black;
    background-color: variables.$color-white;
    margin-bottom: 1.5rem;
}

#skills .wrapper {
    display: flex;
    width: 80%;
}