@use "../base/variables";
@use "../base/layout";

.skill-sheet {
    @extend .flex-container__direction--row;
    @extend .justify-content--center
}

.skill-card {
    @extend .flex-item;
    width: 45%;
    height: 20%;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
    background-color: antiquewhite;
}