@use "../base/variables";
@use "../base/layout";

.splash-screen {
    width: 100vw;
    height: 100vh;
    @extend .flex-container__direction--row;
}

.splash-titles {
    margin: auto;
    font-size: min(6rem, 5vw);
}