@use "../base/variables";

.splash-scleen {
    width: 100vw;
    height: 100vh;
    &--black {
        @extend .splash-scleen;
        background-color: variables.$color-black;;
    }
}

.flex-container {
    display: flex;
}