@use "./variables";

.bg--dark-blue {
    background-color: variables.$app-background-color;
}

.background {
    background: variables.$app-background-color;
    background: linear-gradient(90deg, variables.$app-background-color 0%, variables.$app-background-color--2 50%, variables.$app-background-color 100%);
}

.content {
    width: 70%;
    margin: 0 auto;
}

.font-size {
    &--5rem {
        font-size: 5rem;
    }
}

.font-color {
    &--white {
        color: variables.$color-white;
    }
}

.flex-container {
    display: flex;
    justify-content: space-around;
    &__direction--row {
        @extend .flex-container;
        flex-direction: row;
    }
    &__direction--column {
        @extend .flex-container;
        flex-direction: column;
    }
}

.flex-item {
    display: block;
}

.margin {
    &--auto {
        margin: auto;
    }
}

.padding {
    &--auto {
        padding: auto;
    }
    &--0 {
        padding: 0;
    }
}

.align {
    &--centerX {
        margin-right: auto;
        margin-left: auto;
    }
}

.position {
    &--fixed {
        position: fixed;
    }
}

.justify-content {
    &--space-between {
        justify-content: space-between;
    }
    &--space-around {
        justify-content: space-around;
    }
    &--center {
        justify-content: center;
    }
}

.z-index {
    &--0 {
        z-index: 0;
    }
    &--1 {
        z-index: 1;
    }
}