@use "./variables";

.font-size {
    &--5rem {
        font-size: 5rem;
    }
}

.font-color {
    &--white {
        color: variables.$color-white;
    }
}

.flex-container__direction {
    display: flex;
    justify-content: space-around;
    &--row {
        @extend .flex-container__direction;
        flex-direction: row;
    }
    &--column {
        @extend .flex-container__direction;
        flex-direction: column;
    }
}

.content {
    width: 80vw;
}

.flex-item {
    display: block;
}

.margin {
    &--auto {
        margin: auto;
    }
}

.padding {
    &--auto {
        padding: auto;
    }
    &--0 {
        padding: 0;
    }
}

.align {
    &--centerX {
        margin-right: auto;
        margin-left: auto;
    }
}

.position {
    &--fixed {
        position: fixed;
    }
}

.justify-content {
    &--space-between {
        justify-content: space-between;
    }
}

.z-index {
    &--0 {
        z-index: 0;
    }
    &--1 {
        z-index: 1;
    }
}